nav{
    background-color: pink;
    padding: 5px;
}
nav ul{
    text-align: center;
    font-size: 1.2em;
}
nav ul li{
    list-style-type: none;
    background-color: black;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px;
    border-style: solid;
    border-color:pink;
    border-radius: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li:hover
{
    background-color: pink;
}
nav ul li a:active {
    background-color: black;
    color: white;
}

footer{
    padding: 0px;
    margin-top:auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:pink;
    text-align: center;
    color: white;
}
header{
    background-color: #000000;
    padding: 10px;
    color:pink;
}
body{
    font-family:verdana ;
    background-color: #000000;
    color: white;
    min-height: 100vh ;
    width: 100%;
}
h2{
    text-align: center;
}
table{
    width: 100%;
    border: 1px, solid, pink;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
    
}
th, tr, td{
    border: 1px, solid, black;
    text-align:left ;

}
main{
    min-height: 100vh;
}

